.header {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 60px;
  background: rgba(22, 22, 23, .8);

  display: flex;
}

.title-div {
  margin-top: 10px;
  width: 160px;
}

.pages-div {
  margin-top: 10px;
  margin-left: 300px;
  display: inline-flex;
  width: auto;
}

.title {
  font-size: 24px;
  font-family: 'Space Grotesk', sans-serif;
  color: white;
}

.user-info-div {
  width: auto;
}

.user-info-div img {
  position: absolute;
  cursor: pointer;
  top: 8px;
  right: 15px;
  transition: box-shadow .3s;
  border-radius: 100px;
}

.user-info-div img:hover {
  box-shadow: 0 0 11px rgb(8, 42, 101);
}


#logout {
  cursor: pointer;
  color: white;
  position: absolute;
  right: 80px;
  top: 18px;
}

#logout:hover {
  transition: 300ms;
  color: rgb(128, 128, 128);
}

.dropdown-custom {
  position: absolute;
  right: 10px;
  top: 60px;
  padding: 10px 20px 10px 20px;
  background: white;

  display: flex;
  flex-direction: column;
}

.dropdown-custom a {
  cursor: pointer;
  color: rgb(128, 128, 128);
}

.hidden {
  display: none;
}
